@use './initial';

.button-box {

    button {
        border: none;
        padding: 0px;
    }

    .change-location-btn {
        position: absolute;
        bottom: 10px;
        right: 10px;
        border: 1px solid var(--accent);
        padding: 10px;
        opacity: 0.2;

        &:hover {
            opacity: 1;
        }

        @media (max-width: 1015px) {
            position: relative;
        }
    }

    .show-map-btn {
        position: absolute;
        bottom: 10px;
        right: 180px;
        padding: 0;
        margin: 0;
        border: none;
        opacity: 0.2;

        svg {
            width: 20px;

            path {
                fill: var(--accent);
            }
        }

        &:hover {
            background-color: transparent;
            box-shadow: none;
            opacity: 1;
        }

        &:active {
            opacity: 0.2;
        }
    }

    @media (max-width: 1015px) {
        text-align: right;
    }

}