@use './initial';


.message-error {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 900px;
    padding: 0 10px;
    transform: translate(-50%, -50%);
    
    div {
        width: 100%;
        max-width: 900px;
        text-align: center;
        color: red;
        border: 2px solid red;
        padding: 40px;
        font-size: 25px;
        line-height: 1.5;
        text-shadow: 0 0 10px red;
        box-shadow: 0 0 5px red;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    @media (max-width: 920px){
        padding: 0 30px;
    }
}
