@use './initial';

$width: 600px;
$width2: 200px;

@keyframes rotation {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.spinner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-little-wrapper {
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translateX(-50%);
}

.spinner-pulse {
    border: 2px solid;
    border-color: transparent var(--accent);
    width: $width;
    height: $width;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation: rotation 1.5s linear infinite;

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        border: calc($width/2) solid;
        // border-color: transparent rgba(var(--accent), 0.15);
        border-color: transparent rgba(silver, 0.15);
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
}

.spinner-little-pulse {
    border: 2px solid;
    border-color: transparent var(--accent);
    width: $width2;
    height: $width2;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation: rotation 1.5s linear infinite;

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        border: calc($width2/2) solid;
        // border-color: transparent rgba(var(--accent), 0.15);
        border-color: transparent rgba(silver, 0.15);
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
}