@use './initial';

$width: 600px;

.spinner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// 5
// .spinner-pulse {
//     width: 4em;
//     height: 4em;
//     margin: auto;
//     background-color: var(--accent);
//     border-radius: 100%;
//     animation: pulse 1.5s infinite ease-in-out;
//     filter: blur(1px);
// }

// @keyframes pulse {
//     0% {
//         transform: scale(0);
//     }

//     100% {
//         transform: scale(12.0);
//         opacity: 0;
//     }
// }


.spinner-pulse {
    border: 2px solid;
    border-color: transparent var(--accent);
    width: $width;
    height: $width;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation: rotation 1.5s linear infinite;

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        border: calc($width/2) solid;
        // border-color: transparent rgba(var(--accent), 0.15);
        border-color: transparent rgba(silver, 0.15);
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}