@use './initial';

@keyframes rotate-and-rest {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(-180deg);
    }
    10%{
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(0deg); /* Hold position for the rest of the time */
    }
}

@keyframes enlarge {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes enlarge-smaller {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes blink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes glow {
    0% {
        box-shadow: inset 0 0 0% transparent;
    }
    50% {
        box-shadow: inset 0 0 30% var(--accent);
    }
    100% {
        box-shadow: inset 0 0 0% transparent;
    }
}
// blink .5s steps(1, end) .1s

@keyframes blink-pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

// ================================================================================================


.weather {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 1px;  /* to avoid vertical margin collapse */
    transition: opacity .3s;

    &__top {
        display: flex;
        align-items: center;
        column-gap: 40px;
        // margin-bottom: 40px;
        margin-bottom: 30px;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        @media (max-width: 420px) {
            column-gap: 0px;
        }
    }

    &__temp {
        display: flex;
        flex-direction: column;
        line-height: 1; 
        cursor: pointer;
    }
    
    &__temp-main {
        font-size: 80px;
        font-weight: bold;   
        animation: enlarge 6s linear infinite;
        &:hover {
            animation-play-state: paused;
        }
        @media (max-width: 800px){
            animation: none;
        }
        @media (max-width: 420px){
            font-size: 65px;
        }
    }

    &__temp-feels {
        letter-spacing: 1px;
        margin-top: -3px;
        opacity: 0.6;
        animation: enlarge 6s linear 1s infinite;
        &:hover {
            animation-play-state: paused;
        }
        @media (max-width: 800px){
            animation: none;
        }
        @media (max-width: 420px) {
            letter-spacing: initial;
        }
    }

    &__icon {
        width: 130px;
        height: 130px;
        animation: enlarge 6s linear 2s infinite;
        &:hover {
            animation-play-state: paused;
        }
        @media (max-width: 800px){
            animation: none;
        }
    }

    &__description {
        flex: 1 1 100%;
        // font-size: 25px;
        font-size: 22px;
        animation: enlarge-smaller 6s linear 3s infinite;
        &:hover {
            animation-play-state: paused;
        }
        @media (max-width: 800px){
            animation: none;
        }
        @media (max-width: 680px) {
                font-size: 20px;
            }

        @media (max-width: 420px) {
            font-size: 16px;
        }
    }

    &__medium {
        margin-bottom: 25px;
    }

    &__line {
        font-size: 18px;
        margin-bottom: 10px;
        text-align: center;
        &:last-child {
            margin-bottom: 0;
        }
        // @media (max-width: 680px){
        //     font-size: 18px;
        // }
        @media (max-width: 420px) {
            font-size: 16px;
        }
    }

    &__line-box {
        display: flex;
        justify-content: center;
        column-gap: 50px;
        @media (max-width: 680px){
            column-gap: 30px;
        }
        @media (max-width: 570px) {
            flex-wrap: wrap;
            row-gap: 10px;
        }
    }
    
    &__col {
        @media (max-width: 570px){
            flex: 0 1 50%;
        }
        @media (max-width: 420px){
            flex: 0 1 90%;
        }
    }

    &__humidity-light-el span {
        white-space: nowrap;
    }

    &__humidity-sun-el span {
        white-space: nowrap;
    }


    &__line {
        text-align: left;
        @media (max-width: 570px){
            white-space: nowrap;
        }
    }

    &__line-title {
        opacity: 0.5;
    }

    &__place {}

    &__coords {
        opacity: 0.35;
        font-size: 20px;
        transition: all .3s;
        &:hover {
            opacity: 1;
        }
        @media (max-width: 1000px) {
            flex: 1 1 100%;
        }
        @media (max-width: 420px) {
            font-size: 16px;
        }
    }

    &__location {
        // font-size: 25px;
        font-size: 22px;
        text-align: center;
        // margin-bottom: 30px;
        margin-bottom: 25px;
        display: flex;
        column-gap: 17px;
        align-items: center;
        justify-content: center;
        animation: enlarge-smaller 6s linear 4s infinite;
        &:hover {
            animation-play-state: paused;
        }
        @media (max-width: 800px){
            animation: none;
        }
        @media (max-width: 1000px){
            flex-wrap: wrap;
            row-gap: 5px;
        }
        @media (max-width: 680px) {
            font-size: 20px;
        }
        @media (max-width: 420px){
            font-size: 16px;
        }
    }

    &__wind {
        white-space: nowrap;
    }

    &__wind-speed {}

    &__wind-direction {}

    &__precipitation {
        text-align: center;
        margin-bottom: 20px;
        animation: enlarge-smaller 6s linear 5s infinite;
        &:hover {
            animation-play-state: paused;
        }
        @media (max-width: 800px){
            animation: none;
        }
    }

    &__wind {
        animation: enlarge-smaller 6s linear 6s infinite;
        &:hover {
            animation-play-state: paused;
        }
        @media (max-width: 800px){
            animation: none;
        }
    }

    &__precipitation-details {}

    &__uv {
        animation: enlarge-smaller 6s linear 7s infinite;
        &:hover {
            animation-play-state: paused;
        }
        @media (max-width: 800px){
            animation: none;
        }
    }

    &__humidity {
        animation: enlarge-smaller 6s linear 8s infinite;
        &:hover {
            animation-play-state: paused;
        }
        @media (max-width: 800px){
            animation: none;
        }
    }

    &__cloud-cover {
        animation: enlarge-smaller 6s linear 9s infinite;
        &:hover {
            animation-play-state: paused;
        }
        @media (max-width: 800px){
            animation: none;
        }
    }

    &__light {
        animation: enlarge-smaller 6s linear 10s infinite;
        &:hover {
            animation-play-state: paused;
        }
        @media (max-width: 800px){
            animation: none;
        }
    }

    &__sun {
        animation: enlarge-smaller 6s linear 11s infinite;
        &:hover {
            animation-play-state: paused;
        }
        @media (max-width: 800px){
            animation: none;
        }
    }

    &__hourly {
        margin-bottom: 30px;
        @media (max-width: 1015px){
            padding: 0 10px;
        }
    }

    &__small-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__hours {
        display: flex;
        align-items: stretch;
        justify-content: center;
        column-gap: 30px;
        @media (max-width: 1015px){
            flex-wrap: wrap;
            row-gap: 30px;
        }
    }

    &__hour {
        flex: 1 1 calc(100/6)*1%;
        display: flex;
        flex-direction: column;
        transition: all .3s;
        padding: 10px;
        border-radius: 10px;
        line-height: 1;
        box-shadow: inset 0 0 1px var(--accent);

        &:nth-child(1) {
            animation: enlarge 6s linear 1s infinite;
        }
        &:nth-child(2) {
            animation: enlarge 6s linear 2s infinite;
        }
        &:nth-child(3) {
            animation: enlarge 6s linear 3s infinite;
        }
        &:nth-child(4) {
            animation: enlarge 6s linear 4s infinite;
        }
        &:nth-child(5) {
            animation: enlarge 6s linear 5s infinite;
        }
        &:nth-child(6) {
            animation: enlarge 6s linear 6s infinite;
        }

        &:hover {
                animation-play-state: paused;
                background-color: rgba(white, 0.1);
                transform: scale(1.1);
            }

        @media (max-width: 1030px) {
            flex: 1 1 calc(100/3.5)*1%;
        }
        @media (max-width: 800px){
                animation: none;
            }
        @media (max-width: 620px) {
            flex: 1 1 calc(100/2.5)*1%;
        }
        @media (max-width: 420px) {
            flex: 0 1 auto;
        }
    }

    &__hour-time {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 5px;
        line-height: 1;
        span {
            svg {
                width: 100%;
                max-width: 16px;
                path {
                    fill: white;
                }
            }
        }
    }
    
    &__hour-temp {
        display: flex;
        cursor: pointer;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 5px;
        span:nth-child(1) {
            svg {
                width: 100%;
                max-width: 15px;
                path {
                    fill: white;
                }
            }
        }
        span {
                opacity: 0.5;
            }
    }

    &__hour-description {
        font-style: italic;
        font-size: 12px;
        margin-bottom: 5px;
        max-height: 28px;
        display: -webkit-box; /* Required for multi-line ellipsis */
        -webkit-box-orient: vertical; /* Specifies vertical text flow */
        overflow: hidden; /* Hides the overflow content */
        text-overflow: ellipsis; /* Adds the ellipsis */
        -webkit-line-clamp: 2; /* Limits to 2 lines of text */
    }

    &__hour-precipitation {
        margin-top: auto;
        // max-width: 100px;
        max-height: 20px;
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 5px;
        span:nth-child(1) {
            width: 100%;
            max-width: 17px;
            svg {
                path {
                    fill: white;
                }
            }
        }
    }

    &__hour-row {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }

    &__hour-humidity {
        display: flex;
        align-items: center;
        column-gap: 10px;
        span {
            width: 100%;
            max-width: 14px;
            width: 14px;
            svg {
                path {
                    fill: white;
                }
            }
        }
        
    }

    &__hour-clouds {
        display: flex;
        align-items: center;
        column-gap: 10px;
        span {
            width: 100%;
            max-width: 17px;
            width: 17px;
            svg {
                path {
                    fill: white;
                }
            }
        }
    }

    &__daily {
        @media (max-width: 1015px) {
            padding: 0 10px;
            margin-bottom: 50px;
            }
    }

    &__days {
        display: flex;
        align-items: stretch;
        justify-content: center;
        column-gap: 30px;
        @media (max-width: 905px){
            row-gap: 30px;
            flex-wrap: wrap;
        }
    }

    &__day {
        flex: 1 1 calc(100/3)*1%;
        display: flex;
        flex-direction: column;
        transition: all .3s;
        padding: 10px;
        border-radius: 10px;
        line-height: 1;
        box-shadow: inset 0 0 1px var(--accent);

        &:nth-child(1) {
            animation: enlarge-smaller 5s linear 2s infinite;
        }
        &:nth-child(2) {
            animation: enlarge-smaller 5s linear 3s infinite;
        }
        &:nth-child(3) {
            animation: enlarge-smaller 5s linear 4s infinite;
        }
        
        &:hover {
            animation-play-state: paused;
            background-color: rgba(white, 0.1);
            transform: scale(1.1);
        }

        @media (max-width: 905px) {
            flex: 0 1 calc(100/2.5)*1%;
        }
        @media (max-width: 800px){
                animation: none;
            }
        @media (max-width: 620px) {
            flex: 0 1 auto;
        }
    }

    &__day-name {
        margin-bottom: 5px;
        opacity: 0.5;
        @media (max-width: 1030px){
            font-size: 15px;
        }
        @media (max-width: 960px){
            font-size: 14px;
        }
        @media (max-width: 905px){
            font-size: 15px;
            line-height: 1.25;
        }
    }

    &__day-temp {
        margin-bottom: 5px;
        cursor: pointer;
        span {
            opacity: 0.5;
        }
    }

    &__day-description {
        margin-bottom: 5px;
        font-style: italic;
        font-size: 12px;
        height: 28px;
        display: -webkit-box; /* Required for multi-line ellipsis */
        -webkit-box-orient: vertical; /* Specifies vertical text flow */
        overflow: hidden; /* Hides the overflow content */
        text-overflow: ellipsis; /* Adds the ellipsis */
        -webkit-line-clamp: 2; /* Limits to 2 lines of text */
    }

    &__day-line {
        display: flex;
        align-items: center;
        column-gap: 30px;
        margin-bottom: 5px;
        transform: translateX(17px);
        @media (max-width: 1030px){
            column-gap: 20px;
        }
        @media (max-width: 905px){
            column-gap: 30px;
        }
    }

    &__day-uv {
        display: flex;
        align-items: center;
        column-gap: 10px;
        line-height: 1;
        
        span {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: -10px;
                left: -16px;
                background: white;
                width: 18px;
                height: 18px;
                border-radius: 50%;
            }
            &:before {
                content: 'UV';
                color: black;
                z-index: 1;
                position: absolute;
                top: -7px;
                left: -14.5px;
                font-family: Menlo, Courier;
                font-size: 13px;
                font-weight: bold;
                width: 0px;
                height: 0px;
            }
        }
    }

    &__day-daylight {
        white-space: nowrap;
        display: flex;
        align-items: center;
        column-gap: 10px;
        span {
            width: 100%;
            max-width: 15px;
            width: 15px;
            svg {
                path {
                    fill: white;
                }
            }
        }
    }

    &__day-sunshine {
        white-space: nowrap;
        display: flex;
        align-items: center;
        column-gap: 10px;
        span {
            width: 100%;
            max-width: 20px;
            width: 20px;
            svg {
                path {
                    fill: white;
                }
            }
        }
    }
    
    &__day-sun {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        column-gap: 30px;
    }

    &__day-sunrise {
        white-space: nowrap;
        display: flex;
        align-items: center;
        column-gap: 10px;
        span {
            width: 100%;
            max-width: 19px;
            width: 19px;
            svg {
                path {
                    fill: white;
                }
            }
        }
    }

    &__day-sunset {
        white-space: nowrap;
        display: flex;
        align-items: center;
        column-gap: 10px;
        span {
            width: 100%;
            max-width: 19px;
            width: 19px;
            svg {
                path {
                    fill: white;
                }
            }
        }
    }

    &__day-precipitation {
        display: flex;
        align-items: center;
        column-gap: 10px;
        
            span {
                width: 100%;
                max-width: 19px;
                width: 19px;
        
                svg {
                    path {
                        fill: white;
                    }
                }
            }
    }

    &__updated {
        opacity: 0.2;
        font-size: 14px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        @media (max-width: 1015px) {
            position: relative;
        }
    }

    &__country {
        position: relative;
    }
    &__flag {
        position: absolute;
        // top: -19px;
        top: -17px;
        right: -20px;
        // font-size: 22px;
        font-size: 20px;
        animation: rotate-and-rest 10s infinite ease-in-out;
        @media (max-width: 570px) {
                font-size: 16px;
                top: -13px;
                right: -20px;
            }
        @media (max-width: 420px) {
                font-size: 14px;
                top: -13px;
                right: -18px;
            }
    }

    @media (max-width: 1015px){
        padding-bottom: 30px;
    }
}
