<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> -->
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

    <div class="video-box">
        <video muted autoplay loop></video>
    </div>

    <div class="title-box">
        <h1 class="title"><%= htmlWebpackPlugin.options.title %></h1>
        <div class="time-box">
            <div class="time-day">...</div>
            <div class="time-icon">
            </div>
            <div class="time-element"><span></span></div>
        </div>
        <div class="sunset-box">
            <div class="sunset-word">Sunrise:</div>
            <div class="sunset-time">...</div>
        </div>
    </div>

    
    <div class="section">
        <div class="container">
            <div class="weather">

                <div class="weather__top">
                    <div class="weather__temp">0&deg;C</div>
                    <div class="weather__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64">
                            <defs>
                                <linearGradient id="a" x1="36.88" x2="41.12" y1="15.33" y2="22.67" gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#fcd966" />
                                    <stop offset=".45" stop-color="#fcd966" />
                                    <stop offset="1" stop-color="#fccd34" />
                                </linearGradient>
                                <linearGradient id="b" x1="43.79" x2="48.21" y1="25.17" y2="32.83" xlink:href="#a" />
                                <linearGradient id="c" x1="36.78" x2="39.21" y1="24.9" y2="29.1" xlink:href="#a" />
                                <linearGradient id="d" x1="21.92" x2="38.52" y1="18.75" y2="47.52" gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#86c3db" />
                                    <stop offset=".45" stop-color="#86c3db" />
                                    <stop offset="1" stop-color="#5eafcf" />
                                    <animateTransform attributeName="gradientTransform" dur="10s" repeatCount="indefinite" type="rotate"
                                        values="5 32 32; -15 32 32; 5 32 32" />
                                </linearGradient>
                            </defs>
                            <path fill="url(#a)" stroke="#fcd34d" stroke-linecap="round" stroke-linejoin="round" stroke-width=".5"
                                d="M35.44 16.87l1.3 2.13a.55.55 0 01.06.5l-.8 2.36a.59.59 0 00.87.7l2.13-1.3a.55.55 0 01.5-.06l2.36.8a.59.59 0 00.7-.87L41.26 19a.55.55 0 01-.06-.5l.8-2.36a.59.59 0 00-.87-.7L39 16.74a.55.55 0 01-.5.06l-2.36-.8a.59.59 0 00-.7.87z">
                                <animate attributeName="opacity" dur="3s" repeatCount="indefinite" values="1; 0; 1" />
                            </path>
                            <path fill="url(#b)" stroke="#fcd34d" stroke-linecap="round" stroke-linejoin="round" stroke-width=".5"
                                d="M42.27 30.82l2.49.07a.62.62 0 01.46.22l1.53 2a.6.6 0 001.07-.35l.07-2.49a.62.62 0 01.22-.46l2-1.53a.6.6 0 00-.35-1.07l-2.49-.07a.62.62 0 01-.46-.22l-1.53-2a.6.6 0 00-1.07.35l-.07 2.49a.62.62 0 01-.22.46l-2 1.53a.6.6 0 00.35 1.07z">
                                <animate attributeName="opacity" begin="-1s" dur="3s" repeatCount="indefinite" values="1; 0; 1" />
                            </path>
                            <path fill="url(#c)" stroke="#fcd34d" stroke-linecap="round" stroke-linejoin="round" stroke-width=".5"
                                d="M35.31 26.35l1.25 1.1a.4.4 0 01.14.31v1.66a.39.39 0 00.69.27l1.1-1.25a.4.4 0 01.31-.14h1.66a.39.39 0 00.27-.69l-1.25-1.1a.4.4 0 01-.14-.31v-1.66a.39.39 0 00-.69-.27l-1.1 1.25a.4.4 0 01-.31.14h-1.66a.39.39 0 00-.27.69z">
                                <animate attributeName="opacity" begin="-2s" dur="3s" repeatCount="indefinite" values="1; 0; 1" />
                            </path>
                            <path fill="url(#d)" stroke="#72b9d5" stroke-linecap="round" stroke-linejoin="round" stroke-width=".5"
                                d="M46.66 36.2a16.66 16.66 0 01-16.78-16.55 16.29 16.29 0 01.55-4.15A16.56 16.56 0 1048.5 36.1c-.61.06-1.22.1-1.84.1z">
                                <animateTransform attributeName="transform" dur="10s" repeatCount="indefinite" type="rotate"
                                    values="-5 32 32;15 32 32;-5 32 32" />
                                <animateTransform attributeName="transform" dur="10s" repeatCount="indefinite" type="rotate"
                                    values="-5 32 32; 15 32 32; -5 32 32" />
                            </path>
                        </svg>
                    </div>
                    <div class="weather__description">...</div>
                </div>

                <div class="weather__medium">
                    <div class="weather__line weather__location">
                        <span class="weather__line-title">Location:</span> 
                        <span class="weather__place">...</span> 
                        <span class="weather__coords">...</span>
                    </div>
                    <div class="weather__line weather__wind">
                        <span class="weather__line-title">Wind:</span> 
                        <span class="weather__wind-speed">...</span>
                        <span class="weather__wind-direction">...</span>
                    </div>
                    <div class="weather__line weather__precipitation">
                        <span class="weather__line-title">Precipitation:</span> 
                        <span class="weather__precipitation-details">No precipitation.</span>
                    </div>
                    <div class="weather__line weather__uv">
                        <span class="weather__line-title">UV Index:</span> 
                        <span class="weather__uv-index">...</span>
                    </div>
                </div>

                <div class="weather__hourly">
                    <div class="weather__small-title">Hourly</div>
                    <div class="weather__hours">
                        <div class="weather__hour">
                            <div class="weather__hour-time">01:00</div>
                            <div class="weather__hour-temp">13°C</div>
                            <div class="weather__hour-description">Blah-dee blah-dee blah-dee blah!</div>
                            <div class="weather__hour-precipitation">Hee-bee hee-bee hee-bee hee!</div>
                        </div>
                        <div class="weather__hour">
                            <div class="weather__hour-time">02:00</div>
                            <div class="weather__hour-temp">13°C</div>
                            <div class="weather__hour-description">Blah-dee blah-dee blah-dee blah!</div>
                            <div class="weather__hour-precipitation">Hee-bee hee-bee hee-bee hee!</div>
                        </div>
                        <div class="weather__hour">
                            <div class="weather__hour-time">03:00</div>
                            <div class="weather__hour-temp">13°C</div>
                            <div class="weather__hour-description">Blah-dee blah-dee blah-dee blah!</div>
                            <div class="weather__hour-precipitation">Hee-bee hee-bee hee-bee hee!</div>
                        </div>
                    </div>
                </div>

                <div class="weather__daily">
                    <div class="weather__small-title">Daily</div>
                    <div class="weather__days">
                        <div class="weather__day">
                            <div class="weather__day-name">Tomorrow</div>
                            <div class="weather__day-temp">15</div>
                            <div class="weather__day-description">Blah-dee blah-dee blah-dee blah!</div>
                            <div class="weather__day-uv">2.4</div>
                            <div class="weather__day-sunset">17:28</div>
                            <div class="weather__day-precipitation">Hee-bee hee-bee hee-bee hee!</div>
                        </div>
                        <div class="weather__day">
                            <div class="weather__day-name">The Day After Tomorrow</div>
                            <div class="weather__day-temp">15</div>
                            <div class="weather__day-description">Blah-dee blah-dee blah-dee blah!</div>
                            <div class="weather__day-uv">2.4</div>
                            <div class="weather__day-sunset">17:28</div>
                            <div class="weather__day-precipitation">Hee-bee hee-bee hee-bee hee!</div>
                        </div>
                        <div class="weather__day">
                            <div class="weather__day-name">In 3 days</div>
                            <div class="weather__day-temp">15</div>
                            <div class="weather__day-description">Blah-dee blah-dee blah-dee blah!</div>
                            <div class="weather__day-uv">2.4</div>
                            <div class="weather__day-sunset">17:28</div>
                            <div class="weather__day-precipitation">Hee-bee hee-bee hee-bee hee!</div>
                        </div>
                    </div>

                </div>
                <div class="weather__updated"><span>Updated at</span> <span class="weather__updated-time">...</span></div>
            </div>
            
            <button class="change-location-btn">Change Location</button>
            
        </div>
    </div>

</body>
</html>