<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> -->
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

    <div class="video-box">
        <video muted autoplay loop></video>
    </div>

    <div class="title-box">
        <h1 class="title"><%= htmlWebpackPlugin.options.title %></h1>
        <div class="time-box">
            <div class="time-day">...</div>
            <div class="time-icon">
            </div>
            <div class="time-element"><span></span></div>
        </div>
        <div class="sunset-box">
            <div class="sunset-word">Sunrise:</div>
            <div class="sunset-time">...</div>
        </div>
    </div>

    
    <div class="section">
        <div class="container">
            <div class="weather">

                <div class="weather__top">
                    <div class="weather__temp">
                        <span class="weather__temp-main">0&deg;C</span>
                        <span class="weather__temp-feels"></span>
                    </div>
                    <div class="weather__icon"></div>
                    <div class="weather__description">...</div>
                </div>

                <div class="weather__medium">
                    <div class="weather__line weather__location">
                        <span class="weather__line-title">Location:</span> 
                        <span class="weather__place">...</span> 
                        <span class="weather__coords">...</span>
                    </div>
                    <div class="weather__line weather__wind">
                        <span class="weather__line-title">Wind:</span> 
                        <span class="weather__wind-speed">...</span>
                        <span class="weather__wind-direction">...</span>
                    </div>
                    <div class="weather__line weather__precipitation">
                        <span class="weather__line-title">Precipitation:</span> 
                        <span class="weather__precipitation-details">...</span>
                    </div>
                    <div class="weather__line weather__uv">
                        <span class="weather__line-title">UV Index:</span> 
                        <span class="weather__uv-index">...</span>
                    </div>
                </div>

                <div class="weather__hourly">
                    <div class="weather__small-title">Hourly</div>
                    <div class="weather__hours">
                        <div class="weather__hour">
                            <div class="weather__hour-time">01:00</div>
                            <div class="weather__hour-temp">13°C</div>
                            <div class="weather__hour-description">Blah-dee blah-dee blah-dee blah!</div>
                            <div class="weather__hour-precipitation">Hee-bee hee-bee hee-bee hee!</div>
                        </div>
                        <div class="weather__hour">
                            <div class="weather__hour-time">02:00</div>
                            <div class="weather__hour-temp">13°C</div>
                            <div class="weather__hour-description">Blah-dee blah-dee blah-dee blah!</div>
                            <div class="weather__hour-precipitation">Hee-bee hee-bee hee-bee hee!</div>
                        </div>
                        <div class="weather__hour">
                            <div class="weather__hour-time">03:00</div>
                            <div class="weather__hour-temp">13°C</div>
                            <div class="weather__hour-description">Blah-dee blah-dee blah-dee blah!</div>
                            <div class="weather__hour-precipitation">Hee-bee hee-bee hee-bee hee!</div>
                        </div>
                    </div>
                </div>

                <div class="weather__daily">
                    <div class="weather__small-title">Daily</div>
                    <div class="weather__days">
                        <div class="weather__day">
                            <div class="weather__day-name">Tomorrow</div>
                            <div class="weather__day-temp">15</div>
                            <div class="weather__day-description">Blah-dee blah-dee blah-dee blah!</div>
                            <div class="weather__day-uv">2.4</div>
                            <div class="weather__day-sunset">17:28</div>
                            <div class="weather__day-precipitation">Hee-bee hee-bee hee-bee hee!</div>
                        </div>
                        <div class="weather__day">
                            <div class="weather__day-name">The Day After Tomorrow</div>
                            <div class="weather__day-temp">15</div>
                            <div class="weather__day-description">Blah-dee blah-dee blah-dee blah!</div>
                            <div class="weather__day-uv">2.4</div>
                            <div class="weather__day-sunset">17:28</div>
                            <div class="weather__day-precipitation">Hee-bee hee-bee hee-bee hee!</div>
                        </div>
                        <div class="weather__day">
                            <div class="weather__day-name">In 3 days</div>
                            <div class="weather__day-temp">15</div>
                            <div class="weather__day-description">Blah-dee blah-dee blah-dee blah!</div>
                            <div class="weather__day-uv">2.4</div>
                            <div class="weather__day-sunset">17:28</div>
                            <div class="weather__day-precipitation">Hee-bee hee-bee hee-bee hee!</div>
                        </div>
                    </div>

                </div>
                <div class="weather__updated"><span>Updated at</span> <span class="weather__updated-time">...</span></div>
            </div>
            
            <button class="change-location-btn">Change Location</button>
            
        </div>
    </div>

</body>
</html>